<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
		</ion-buttons>
		<ion-title>Anuncio</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item>
			<img src="{{ produtos?.imagem }}" /></ion-item>
			<ion-item>Titulo: {{ produtos?.titulo }}</ion-item>
			<ion-item>Descriçao: {{ produtos?.descricao }}</ion-item>
			<ion-item>Especialidade: {{ produtos?.especialidade }}</ion-item>
			<ion-item>Telefone: {{ produtos?.tel }}</ion-item>
	</ion-list>
</ion-content>