@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");

ion-content {
  --background: white;
}

ion-toolbar {
  --background: #36ef26;
}

ion-title {
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
}

ion-back-button {
  --color: white;
}

ion-item {
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 1px;
  padding: 5px;
  box-shadow: 1px 1px white;
}

p {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
  padding: 5px;
}