<ion-header>
	<ion-toolbar>
		<ion-title>Sobre</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
  
    
	<!-- TITULO E TEXTO -->
    <h1>Quem Somos?</h1>
	<p>
		Nós somos o All Building, o aplicativo que tem como objetivo permitir que
        profissionais da área de construção civil, especializados em pequenas obra
        sejam encontrados através de seus anúncios em nossa plataforma.
	</p>
    <!-- LINK PARA O SITE DO ALLBUILDING 
	<h2><a href="https://www.allbuilding.tk/">Website</a></h2>-->
    <ion-button color="primary" (click)="OpenUrl()" expand="full">Website</ion-button>
</ion-content>