<ion-header>
  <ion-toolbar>
    <ion-title>Destaque</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
        <ion-item *ngFor="let item of produto" [routerLink]="['/tab1', item.id]">
      <ion-item-sliding class="esq" side="start">
        <img src="../../assets/img.jpg" />
      </ion-item-sliding>
      <ion-item-sliding side="end">
        <ion-label><ion-icon name="person"></ion-icon>{{item.titulo}}</ion-label>
        <ion-label><ion-icon name="briefcase"></ion-icon>{{item.especialidade}}</ion-label>
        <ion-label><ion-icon name="call"></ion-icon>{{item.tel}}</ion-label>
      </ion-item-sliding>
    </ion-item>
  </ion-list>
</ion-content>
