
// Importação da fonte 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");

// Barras
ion-tab-bar {
  --background: #36ef26;
}

ion-tab-bar {
  color: white;
}


// Rótulo tabs
ion-label {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0px 0px 0px;
}

// Cores botão selecionado/não selecionado 
ion-icon,ion-tab-button {
--color-selected: rgb(212, 212, 14);
--color: rgb(255,255,255);
  font-size: 25px;
}
