<ion-header>
  <ion-toolbar>
    <ion-title>Busca</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    showCancelButton="focus"
    placeholder="Pesquisar por anúncio"
  ></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-item-sliding class="esq" side="start">
        <img src="../../assets/img.jpg" />
      </ion-item-sliding>
      <ion-item-sliding side="end">
        <ion-label><ion-icon name="person"></ion-icon>João</ion-label>
        <ion-label><ion-icon name="briefcase"></ion-icon>Pedreiro</ion-label>
        <ion-label><ion-icon name="call"></ion-icon>2222-2222</ion-label>
      </ion-item-sliding>
    </ion-item>
  </ion-list>
</ion-content>
