<ion-header>
	<ion-toolbar>
		<ion-title>Destaque</ion-title>
        <ion-buttons slot="secondary">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="power"></ion-icon>
            </ion-button>
        </ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let item of anuncios" [routerLink]="['/pagina-destaque', item.id]">
			<img src="{{item.imagem}}" />
			<ion-label text-wrap>
				<p>
					<ion-icon name="person"></ion-icon>{{item.titulo}}
				</p>
				<p>
					<ion-icon name="briefcase"></ion-icon>{{item.especialidade}}
				</p>
				<p>
					<ion-icon name="call"></ion-icon>{{item.tel}}
				</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>