<ion-content class="swiper-no-swiping bg-image no-scroll" class="ion-padding ion-text-center">
<div class="container">

<!--Logotipo -->
<ion-img src="../../../assets/img/AppLogo.png"></ion-img>

<!--Botões Slides-->
<ion-segment (ionChange)="segmentChanged($event)">

<!--Login-->
<ion-segment-button value="login">
<ion-label>Login</ion-label>
</ion-segment-button>

<!--Cadastro-->
<ion-segment-button value="cadastro">
<ion-label>Cadastro</ion-label>
</ion-segment-button>
</ion-segment>
</div>

<!--Slides-->
<ion-slides>

<!--Slide Login-->
<ion-slide>
<div class="slide-inner ion-padding">
<ion-title>Faça Login</ion-title>


<!--Campo Email Login-->
<ion-list>
<ion-item class=ion-margin-top lines="none">
<ion-input placeholder="E-mail" type="email" required [(ngModel)]="userLogin.email"></ion-input>
</ion-item>

<!--Campo Senha Login-->
<ion-item class=ion-margin-top lines="none">
<ion-input placeholder="Senha" type="password" required [(ngModel)]="userLogin.password"></ion-input>
</ion-item>
</ion-list>

<!--Botão Entrar-->
<ion-button class=ion-margin-top color=secondary expand="full" (click)="login()" >Entrar</ion-button>
<ion-button  color=primary (click)="paginaRedefinir()">Esqueci minha senha</ion-button>

</div>
</ion-slide>

<!--Slide Cadastro-->
<ion-slide>
<div class="slide-inner ion-padding">
<ion-title>Cadastre-se</ion-title>

<!--Campo Email Cadastro-->
<ion-list>
<ion-item class=ion-margin-top lines="none">
<ion-input placeholder="E-mail" type="email" [(ngModel)]="userRegister.email"></ion-input>
</ion-item>

<!--Campo Senha Cadastro-->
<ion-item class=ion-margin-top lines="none">
<ion-input placeholder="Senha" type="password" [(ngModel)]="userRegister.password">
</ion-input>
</ion-item>
</ion-list>

<!--Botão Cadastrar-->
<ion-button class=ion-margin-top color=danger expand="full" (click)="register()">Cadastrar</ion-button>
</div>


</ion-slide>

</ion-slides>
</ion-content>