@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");

ion-slides {
  height: 65%;
  .slide-inner {
    width: 95%;
    color: rgb(255, 255, 255);
    background-color: green !important;
    border-radius: 20px;
  }
  ion-list {
    background-color: green !important;
  }
  ion-item {
    background-color: green !important;
  }
}

ion-item {
  --background: hsl(0, 0%, 85%);
  --border-radius: 10px;
}

ion-input {
  --color: rgb(12, 12, 12);
  font-family: "Open Sans", sans-serif;
}
ion-img {
  height: 250px;
}

ion-content {
  --background: url("../../../assets/img/login.jpg") 0 0/100% 100% no-repeat;
  font-family: "Open Sans", sans-serif;
}

ion-segment-button ion-label {
  font-family: "Open Sans", sans-serif;
}

ion-button {
  font-family: "Open Sans", sans-serif;
}