@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
ion-tab-bar {
 --background: #36ef26;
}

ion-tab-bar{
    color:white;
}

ion-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0px 0px 0px;
}

ion-icon,
ion-tab-button {
    color:white;
    font-size: 25px;
}